@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

.compareTable {
  display: flex;
  /* flex-direction: column; */
}
.compareButton {
  position: fixed;
  right: 0%;
}